

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Shemile</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class=" nav navbar-nav mr-auto">
           
            
            <li >
                @Html.ActionLink("Customers", "CustomerList", "Customer")
            </li>
           
            <li>
                @Html.ActionLink("Movies", "Random", "Movie", new  { id = 1 }, null)
            </li>
        </ul>
      
    </div>
</nav>